
.hero-area {

    padding-top: 100px;
    background: rgb(80,76,147);
    background: linear-gradient(90deg, rgba(80,76,147,1) 0%, rgba(65,65,210,1) 48%, rgba(0,212,255,1) 100%);
    color: aliceblue;
    min-height: 300px;
}

footer {
    background-color: darkolivegreen;
    color: aliceblue;
}
